body {
    padding-top: 80px;
}

div {
    display: block;
    margin: 35px 20px 10px 20px;
    font-size: 16pt;
    font-weight: bold;
}

li {
    font-size: 14pt;
    display: block;
    padding-left: 5pt;
    line-height: 28pt;
}

li a {
    color: #2f3237;
    text-decoration: none;
}

li p {
    display: inline;
    color: #6a7177;
    text-decoration: none;
}

li a:hover {
    color: #241d1c;
    text-decoration: underline;
    font-weight: bold;
}

li tag {
    color: #6a7177;
    font-size: 12pt;
    line-height: 14pt;
    background: #eeeeee;
    padding: 0 10px;
    border-radius: 6px;
}

pin {
    color: #ffffff;
    font-size: 12pt;
    line-height: 14pt;
    background: #14a446;
    padding: 0 10px;
    border-radius: 6px;
    user-select: none;
}

tag, span, pin {
    margin-right: 10px;
}

div#search {
    display: block;
    position: fixed;
    width: 950px;
    height: 40px;
    margin: 0;
    padding: 20px;
    top: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    box-shadow: #e6e6e6 0px 0px 20px 5px;
    left: 150px;
    border-radius: 20px;
    border: 2px solid #ededed;
    background: linear-gradient(0deg, #c6c6c691, #cacaca7d);
}

input#searchInput {
    border: none;
    display: inline-block;
    font-size: 16pt;
    line-height: 16pt;
    width: 600px;
    border-radius: 12px;
    height: 24pt;
    background: #ffffffa3;
    padding-left: 20px;
    margin-right: 20px;
}

button {
    display: inline-block;
    font-size: 14pt;
    border-radius: 12px;
    padding: 20px;
    line-height: 0pt;
    cursor: pointer;
    color: #5c5c5c;
    box-shadow: #cacaca 0px 0px 20px 5px;
    border: 1px solid #dbdbdb;
    background: linear-gradient(0deg, #e3e3e391, #efefef7d);
    margin-left: 12px;
}

button:hover {
    display: inline-block;
    font-size: 14pt;
    border-radius: 12px;
    padding: 20px;
    line-height: 0pt;
    cursor: pointer;
    color: #5c5c5c;
    box-shadow: none;
    border: 1px solid #eaeaea;
    background: linear-gradient(0deg, #fbfbfb91, #f5f5f57d);
}
